/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');




/* Variables */
/* Overall */
html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #bf5700;
    color: white;
    margin: 0;
    padding: 0;
  }
  /* Typography */
  h1 {
    padding-top: 200px;
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  p {
  }
  a {
    color: #fff;
  }

/* Logo */
#logo {
  position: fixed;
  top: 24px;
  left: 40px;
  font-size: 32px;
}

#Hero {
  padding-top: 200px;
}


  /* Nav */
  #nav {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
  }
  #nav li {
    display: inline-block;
    font-size: 24px;
    margin-right: 40px;
    line-height: 100px;
  }
  #nav li:hover {
    color: #335b47;
    transform: scale(1.1);
    transition-duration: 500ms;
    cursor: pointer;
  }
  /* Page Layout */
  .section {
    min-height: 100vh;
  }

  #bio{
    background-image: url('../images/JoceAng.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .caseStudy {
    background-color: white;
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
  }

  /* Gimmick */

  .gimmick {
    background-image: url('../images/hero-bg.svg');
    background-size: cover;
    position: absolute;
    height: 800px;
    width: 800px;
    top: calc(50vh - 400px);
    left: calc(50vw - 400px);
    animation-name: spin;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg) scale(1);
    }
    to {
      transform: rotate(360deg) scale(2);
    }
  }