/* Imports */
/* Variables */
/* Overall */
html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #bf5700;
    color: white;
    margin: 0;
    padding: 0;
  }
  /* Typography */
  h1 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  p {
  }
  a {
    color: #fff;
  }

/* Logo */
#logo {
  position: fixed;
  top: 24px;
  left: 40px;
  font-size: 32px;
}




  /* Nav */
  #nav {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
  }
  #nav li {
    display: inline-block;
    font-size: 24px;
    margin-right: 40px;
    line-height: 100px;
  }
  #nav li:hover {
    color: #335b47;
    transform: scale(1.1);
    transition-duration: 500ms;
    cursor: pointer;
  }
  /* Page Layout */
  .section {
    min-height: 100vh;
  }

  #bio{
    background-image: url('../images/JoceAng.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .caseStudy {
    background-color: white;
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
  }